<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <textarea rows="30" cols="80" [(ngModel)]="text">
                </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary float-right" (click)="btnClicked()">
                    Utreniraj
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-5" style="margin-left: 20px;">
        <div style="margin: 15px;">
            <h4 *ngIf="keywords.length > 0" class="list-group-item-heading">Ključne reči:</h4>
        </div>
        <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let keyword of keywords">
              {{ keyword.stem }} // isBoolean: {{ keyword.boolean }}, frequency: {{ keyword.frequency}}
            </li>
          </ul>
    </div>
</div>