<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <textarea rows="30" cols="80" [(ngModel)]="text">
                </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="favoriteSeason">
                    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                        {{season}}
                    </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary" [disabled]="favoriteSeason===null" (click)="btnClicked()">
                    Otpočni {{favoriteSeason}}
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        
    </div>
</div>